<section class="bg-dark text-white">
    <div class="container">
        <div class="row row-cols-md-2 pt-md-4 align-items-center">
            <div class="col text-md-start">
                <p class="fs-1 fw-bolder text-white">Let's <span style="color: rgba(244, 155, 51, 1)">Stretch & Exercise</span> <br>
                    <span>Together!</span>
                </p>
            </div>
            <div class="col d-md-block d-none text-md-end">
                <a class="btn text-white btn-lg" type="button" style="background-color: rgba(244, 155, 51, 1)" href="{% url 'add_service' %}">Book A session</a>
            </div>
        </div>
        <div class="d-block d-md-none">
            <div class="col justify-content-end">
                <a class="btn text-white" type="button" style="background-color: rgba(244, 155, 51, 1)" href="{% url 'add_service' %}">Book A session</a>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3">
                <div class="lc-block mb-3">
                    <p>
                        Creating nurturing spaces where individuals of all fitness levels can embark on a journey of self-discovery and physical
                        empowerment through the practice of stretching and exercising.
                    </p>
                </div>
            </div>
            <div class="col offset-md-2 mb-3">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h4>Get Motivation</h4>
                    </div>
                </div>
                <!-- /lc-block -->
                <div class="lc-block small">
                    <style>
                        .footer-links-list ul { padding-left:0 }
                        .footer-links-list ul li {margin-bottom:15px; list-style-type:none;padding-left:0 }
                        .footer-links-list a {text-decoration:none; color:var(--bs-body-color);}

                    </style>
                    <div editable="rich" class="footer-links-list">

                        <ul>
                            <li><a href="#">Latest Articles</a> </li>
                        </ul>

                    </div>
                </div>
                <!-- /lc-block -->
            </div>
            <div class="col mb-3">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h4>Services</h4>
                    </div>
                </div>
                <!-- /lc-block -->
                <div class="lc-block small">
                    <div editable="rich" class="footer-links-list">

                        <ul>
                            <li><a href="#">Stretching Class</a> </li>
                            <li><a href="#">Personal Training</a></li>
                            <li><a href="#">Inbody Scanning</a> </li>
                            <li><a href="#">ABC Trainerize</a> </li>
                        </ul>

                    </div>
                </div>
                <!-- /lc-block -->
            </div>
            <div class="col mb-3">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h4>Say Hello</h4>
                    </div>
                </div>
                <!-- /lc-block -->
                <div class="lc-block small">
                    <div editable="rich" class="footer-links-list">

                        <ul>
                            <li><a href="#">Address: Grey Pearl, Gatundu, Kileleshwa Rd</a> </li>
                            <li><a href="#">Tel: +1 321 5886 662</a> </li>
                            <li><a href="#">Email: Forbesliteexcercise@gmail.com</a> </li>
                        </ul>

                    </div>
                </div>
                <!-- /lc-block -->
            </div>
        </div>
    </div>
</section>